@import "compass/css3";

$blueish: #77939e;
$light_bluish: #a4b6be; 
$whiteish: #f9f9f9;
$tanish: #cec1b0;
$dark_tanish: #887d6e;
$blackish: #333;

body {
  background-image: url("../images/clouds_bg.jpg");
  background-color: $blueish;
  font-family: 'Ariel', sans-serif;
  color: $blackish;
}

header {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: -5px;
}

footer {
  clear: both;
}

a {
  color: $blueish;
  text-decoration: none;
}

a:hover {
  color: $light_bluish;
}

#shell {
  background-color: $whiteish;
  background-image: url("../images/dave_and_eileen_logo.png");
  background-position: center 30px;
  background-repeat: no-repeat;
  width: 900px;
  padding: 30px 50px 50px 50px;
  margin-top: 120px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  @include single-box-shadow;
}

#title {
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#subtitle {
  color: $dark_tanish;
  font-size: 20px;
  margin-top: -10px;
}


ul {
  li {
    list-style: none;
    margin-left: -30px;
  }
}

ul.nav {
  font-family: 'Paytone One', sans-serif;
  font-size: 22px;
  li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.blog_date {
  font-weight: bold;
}

ul.tweets {
  font-size: 12px;
  li {
    clear: both;
    margin-bottom: 10px;
  }
}

.tweet_icon {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  clear: both;
}

#main_content {
  width: 72%;
  float: left;
  margin-right: 20px;
  line-height: 1.4em;
}

#sidebar {
  width: 25%;
  float: left;

  h3 {
    color: $dark_tanish;
    font-size: 26px;
    font-family: 'Paytone One', sans-serif;
  }
}

.clear {
  clear: both;
}

h2.page_title {
  color: $dark_tanish;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  margin-bottom: 20px;
  text-transform: lowercase;
  clear: both;
}

.eileen_side, .dave_side {
  margin-bottom: 10px;
}

.eileen_side {
  border-bottom: 1px $light_bluish dashed;
}

.dave_head {
  display: inline;
  float: right;
}

.eileen_head {
  display: inline;
  float: left;
}

.thumb_pic {
  margin: 10px;
}

.party_label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  clear: both;
}

.party_member {
  margin-bottom: 20px;
  clear: both;

  .name {
    font-weight: bold;
    font-size: 20px;
  }

  .title {
    color: $dark_tanish;
  }

  .party_photo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}