@import "compass/css3";

$blueish: #77939e;
$whiteish: #f9f9f9;
$tanish: #cec1b0;
$blackish: #333;

body {
  background-image: url("../images/clouds_bg.jpg");
  background-color: $blueish;
  font-family: 'Ariel', sans-serif;
  color: $blackish;
}

header {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 10px;
}

footer {
  clear: both;
}

a {
  color: $blueish;
  text-decoration: none;
}

#shell {
  background-color: $whiteish;
  width: 900px;
  padding: 30px 50px 50px 50px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;

  @include single-box-shadow;
}

#title {
  font-size: 80px;
  color: $blueish;
  font-weight: bold;
  font-family: 'Paytone One', sans-serif;
}

#subtitle {
  color: $tanish;
  font-size: 30px;
  font-family: 'Neuton', serif;
  margin-top: -10px;
}

ul.nav {
  li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#main_content {
  width: 72%;
  float: left;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
}

.clear {
  clear: both;
}

.party_label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.party_member {
  margin-bottom: 20px;

  .name {
    font-weight: bold;
    font-size: 20px;
  }

  .title {
    color: $tanish;
  }

  .party_photo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}