%ul.nav
  %li 
    %a(href="../backstory") backstory!
  %li 
    %a(href="../pictures") pictures!
  %li
    %a(href="../party_animals") wedding party!
  %li 
    %a(href="../details") details!
  %li 
    %a(href="../blog") blog!
  %li 
    %a(href="../other_stuff") other stuff!