%ul.nav
  %li 
    %a(href="../backstory") backstory!
  %li 
    %a(href="../photos") pictures!
  %li
    %a(href="../party_animals") wedding party!
  %li 
    %a(href="../details") details!
  %li 
    %a(href="http://daveandeileen.wordpress.com") blog!