%h2.page_title (the quick version for those with short attention spans)

:markdown
  We've known each other for about 10 years.  After meeting in college and becoming good friends Dave tried asking Eileen out a bunch of times but she wanted to stay "just friends".  After having their first kiss on New Year 2010 she came to her senses and they had their first date in Bali and came back to Chicago together.  Shortly after they started living together and eventually moved to California.  Under the guise of a camping trip in Yosemite National Park Dave surprised Eileen by proposing with an original song and they will live awesomely ever after.  The end.

:markdown
  **Now read the full version (from both of our points of view) for all the juicy details!**

%h2.page_title At first we were just friends...

.eileen_side
  %img.eileen_head(src="./images/backstory/eileen_head.png")
  :markdown
    Dave and I first met in the dorms at U of I (University of Illinois). I had just started my Freshman year of college and was excited to have a fresh start with new friends, new freedom, and new adventures. Adventure #1 (or maybe it was #4 by this point) began by wandering into every room at Allen Hall with an open door. Accompanied by my roommate Steph and my friend [Sarah](/party_animals#sarah) we moseyed into Dave and Jeff's dorm room to chat them up. Dave seemed friendly, so we discussed the Ninja Turtles in his room for a while. Little did I know, my entourage had fallen head over heels for the shaggy haired musician who later became known as "Third Floor Dave", or TFD for short. Sarah became the primary instigator, inviting Dave out to parties and other activities with us. And being the carefree guy that he is, he obliged.

  :markdown
    When Dave kept showing up to hang out with us, I realized we had a lot in common. It started off with mutual divulgences about the pitfalls of being in long distance relationships, and soon snowballed into amusing childish antics and serious discussions about our life's ambitions. We were spending time with each other on a regular basis, and even when we were out of the dorms, he'd wander across town to hang out. I had never had a straight male friend that I was this close to in my entire life, and I intended to keep it that way.

  :markdown
    Dave first asked me out my Junior year of college, and wanting to stay platonic, I respectfully declined. Then there was the second time, a year later when I was starting to see someone new, and again, I had to say no. After school, I moved away to Florida where we fell out of touch for a while. I was back in Chicago the next summer, and Dave and I picked up right where we left off. Hanging out at the beach, concerts, and skateboarding were very much our routine during that time. It was pretty dreamy. Then, I decided to move to New Orleans.

  :markdown
    There was a last ditch effort to get me to stay, but I couldn't. I had made my final decision, and while I was out in NOLA, we fell out of touch again.

  :markdown
    As you're probably realizing by now, this story is kind of epic, so please bear with me. It has been almost 11 years in the making after all. But, I promise it ends well for our hero in the end...

  :markdown
    Fast forward another year and a half, and we're ringing in 2010 by throwing a New Year's party. I made the first move. I kissed Dave. It was the first time in the six years since we'd been friends. I'm not sure what came over me, but something must have clicked and it felt right. We talked about it the next day, but it didn't go anywhere since I was returning to Taiwan in two days.

.dave_side
  %img.dave_head(src="./images/backstory/dave_head.png")
  :markdown
    It was my sophomore year at U of I.  I was sitting in my <a href="./images/backstory/dormroom.jpg" data-lightbox="1">dorm room</a>, minding my own business when Eileen and a few of her friends barged in.  They were insistent on becoming friends with everybody in the dorm and <a href="./images/backstory/davejeff.jpg" data-lightbox="2">Jeff and I</a> fit that bill.  Presumably enamored by my wit and rugged good looks, Eileen and her friends (many of these friends are in the [bridal party](/party_animals) of this very wedding!) started inviting me out with them and soon they consumed most of my <a href="./images/backstory/halloweenppl.jpg" data-lightbox="3">college social life</a>. 

  :markdown
    Eileen and I were both in long distance relationships at the time and started bonding over our shared experiences and our mutual love of ridiculousness. She also owned a coffee maker which brought me to her room quite often.  As time went on we found ourselves out of relationships but still hanging out quite often.  It suddenly dawned on me that I was spending a lot of my time with a beautiful girl with whom I had much in common.  Why wasn't I dating her?  Eileen was (perhaps foolishly?) reluctant to be more than friends.  I don't want to spoil the ending for you but don't worry, this ends up working out for me in the end.

  :markdown
    Over the next few years I periodically proposed the idea of upgrading from friendship to romance but Eileen remained stubbornly firm on her Platonic stance.  Despite her retrospectively poor judgment we stayed close friends and always spent time together when she was in town.  She was hanging out in Chicago during the winter holidays (while living in Taiwan at the time) and we decided to throw a New Years Eve party together at my apartment.  If our story was a movie this party would be shot with lots of slow motion cuts and very dramatic music so that the audience would know that this is a crucial moment in the plot...

%h2.page_title Then we started dating...

.eileen_side
  %img.eileen_head(src="./images/backstory/eileen_head.png")
  :markdown
    I was living in Taiwan at the time, but was seriously contemplating moving back home. Meanwhile, Dave and I were having long overseas Skype conversations where we'd talk for hours, watch shows together, and even celebrate my birthday with a beer together (9pm in Taiwan/6am in Chicago). While we weren't talking, I was obsessing about that kiss, and daydreaming about how our hypothetical relationship would turn out. (Thanks [Alice](/party_animals#alice) for talking with me for an obscenely long time about this.)

  :markdown
    After much debate, it was settled. I was going to move back to Chicago in a few months. But, before I could officially say goodbye to Taipei, I wanted to tour around Asia. I invited Dave to come along with me, and then planned to fly back to the States together. Our first official date was in Bali, Indonesia! We were having yet another adventure on the other side of the world, yet with a romantic twist.

  :markdown
    I was actually excited to get back home to see if this relationship was the real deal. Success! We were awesome together, so much so that we proclaimed ourselves "THE AWESOME!" I think we even said I love you after a week of being back. The timing was right too, because Dave was looking for a roommate to fill a spot in the apartment, so I, along with my cat Chairman Meow, moved in shortly after and lived with Dave and Rich. Eventually, we moved out to our own place together.

  :markdown
    Then, I got into my dream school, UC Berkeley, for a Masters of Public Policy program to study renewable energy policy. I asked Dave if he was willing to come with me to California, and to my surprise he was 100% on board. We packed a U-Haul full of all our worldly possessions, and drove it 2,000 miles from the Land of Lincoln to the Golden State.

  :markdown
    Bless Dave's eternal patience, because I ended up being an anxious wreck in grad school. Among studying, writing papers, and making new friends, I had very little time to spend with him. He was the reason I got through school in one piece, and it made me realize how resilient our bond was. I didn't have a doubt in my mind that he was "the one."

.dave_side
  %img.dave_head(src="./images/backstory/dave_head.png")
  :markdown
    It hadn't been 2010 for very long when I was able to check of a high priority New Year's resolution; kiss Eileen.  While this first smooch didn't technically mark the start of our relationship, it certainly got the ball rolling.  She hopped on a plane back to Taipei a few days later, but we started talking and video chatting online almost constantly after that.  We even used Dropbox and Garage Band to record [some music](https://soundcloud.com/dorkrawk/jolene-dolly-parton-cover-by) together. There is no way I could describe those months without making it sound like I had a fake internet girlfriend in another country.

  :markdown
    Though the romantic tables had clearly tipped in my favor at this point Eileen's strong will made it difficult for her to come right out and admit that she was smitten with me. To this day the sweetest thing she's ever said to me was over a video chat when she reluctantly admitted that I "wasn't so bad" and then giggled and hid her face like a tween with a crush.  I have even been gracious enough to not point out (too often) that I was right about us dating all along. I was in grad school at the time and Spring Break (woo!) was coming up so I planned a trip out to Asia to visit her. I would meet her in Taipei, then we would visit Bali, then head back to Taiwan for a few days, and finally we would both come back to Chicago.

  :markdown
    Our first official date was March 19th, 2010 in <a href="./images/backstory/bali.jpg" data-lightbox="4">Bali</a>.  This seems like a classy move but it has made subsequent dates seem a bit anticlimactic. As you may have guessed (seeing as this is our wedding website) things went pretty well and after a fun trip we came back to Chicago together. Having already spent about 7 years getting to know each other the relationship moved quickly and Eileen moved in with me (and [Rich](/party_animals#rich)!) after we had been dating for three months.  In less than a year we had moved into our own place and by this time our parents had met and we owned a couch together so it was officially "pretty serious".

  :markdown
    When Eileen got into grad school at UC Berkeley we packed up our [cat](/party_animals#chairman) (who I have come to care for as if he was my own furry child) and our all our worldly possessions, said goodbye to our friends and bands, and drove a Uhaul 2000 miles west.  We set up shop in Berkeley and at some point the subject of marriage came up (as it tends to do between two people in their mid to late 20s in a long term serious and awesome relationship).  I decreed that we couldn't think about marriage until one of us had another advanced academic degree and as Eileen was working on the final stretch of her master's she started asking (rather insistently) why there wasn't a shiny rock on her finger yet...

%h2.page_title Then we got engaged...

.eileen_side
  %img.eileen_head(src="./images/backstory/eileen_head.png")
  :markdown
    We knew early on in the relationship that marriage was on our horizon. We had already been through so much together, and it didn't seem like anything would change our minds. It was only a question of when, and that, was what caught me by surprise...

  :markdown
    Two weeks before the engagement, I had a dream that Dave was proposing while we were camping. Only, in my dream, he was down on one knee when a forest fire ripped through the campsite, and we were forced to evacuate immediately. He didn't get a chance to pop the question in my dreaming slumber.

  :markdown
    The week after, he wanted to plan a camping trip to Yosemite National Park, and in the back of my mind I was jumping up and down thinking *this is going to be it*. Of course, I needed to share information with Nicole and Alice, who ended up being co-conspirators with Dave and tipped him off that I was on to him. Cleverly, he threw me off the track by having me invite friends, at which point, I was noticeably disappointed that this trip would not have a proposal attached to it. I tried to sabotage it by suggesting that we stay in that weekend or that we instead go somewhere closer. But Dave, being the stubborn man that he is, was insistent we go to Yosemite.

  :markdown
    We left Berkeley at the crack of dawn to make it to the park in time to reserve a campsite. Luckily we found one, and as I was setting up the tent, Dave went to gather firewood for later. With a guitar in hand, he came back and insisted we go on a walk (strange, but I didn't think anything of it). As he sat me down on a log in the middle of the forest, he told me that he had written me a song. He strummed a beautiful and complicated melody on his acoustic guitar, while crooning sweet poetry about us. I still didn't know what to make of it until the chorus began, and then instant waterworks happened. HE WAS PROPOSING!! I WAS BEING PROPOSED TO!!

  :markdown
    Then the song wrapped up with the words "I've never wanted more than this/And I could only ask/For one more granted wish..." He pulled a tiny wooden box out of the guitar case and got down on one knee, and I screamed, "YES! YES!" After a kiss and a hug, I punched him in the shoulder when I realized he'd been lying to me for the last two weeks to cover his tracks. For the record, July 27th, 2013 was one of the best days of my life and we got to revel in that excitement by ourselves for a whole day before sharing the news with others. (Apparently phones and Facebook don't work in the mountains.)

  :markdown
    That about wraps it up. Now you know everything there is to know about Team D+E. We're pretty awesome. We've been on a long journey together. But, it was well worth the ride to get to where we are today. We couldn't be happier.

.dave_side
  %img.dave_head(src="./images/backstory/dave_head.png")
  :markdown
    This marriage will be founded on trickery and deception.  That is what it took to plan the engagement without Eileen becoming suspicious.  I came up with the idea of popping the question in one of our favorite camping sites and I knew that I wanted to write a song for the occasion.  It turned out that finding time to write and practice this song was really hard! Even after I had purchased the ring (and cleverly hid it in a saxophone case where Eileen would be unlikely to go looking for fancy jewelry) I was still having difficulty finding enough time alone to get the song written.  All the while Eileen (and both of our mothers) were starting to ask more and more pointed questions about her naked ring finger.  I finally had to result to calling a friend of ours (thanks Linda!) and having her plan a girls night out so I could finally finish the chorus.  After that I casually brought up the idea of camping in Yosemite.  It would be there that I would pull out a guitar and play her a song that would end in a very important question.

  :markdown
    Like any good scheme, this one required the help of additional spies and informants.  I had [Nicole](/party_animals#nicole) and [Alice](/party_animals#alice) giving me advice throughout this whole undertaking.  They told me that Eileen was suspicious that I bigger plans for this camping trip than I was letting on.  She had guessed that I might be proposing.  This was no good! I had worked too long on this surprise, so yet another layer of trickery was necessary.  To throw her off the scent I had her invite some friends to join us on the camping trip, but these were decoy invites!  I had told Linda and Alex my plan and asked them to make up an excuse as to why they couldn't join us.  Convinced that I wouldn't have invited other people to our engagement and clearly a little bummed because she had gotten her hopes up about the weekend we set off for our camping trip.

  :markdown
    I was really nervous the whole drive down.  What if we couldn't find a camping spot? How was I going to get pictures of the event (which [Nicole](/party_animals#nicole) said was very important)? What if I forget all the words to the song? What if a bear mauls us and I loose too many fingers to play the chords correctly? These were all serious concerns, but everything ended up going smoothly.  Under the guise of going to collect firewood, I found some other campers nearby, told them what I was up to, gave them my camera, and asked them to come over and shoot some pictures when they heard guitar playing. I asked Eileen to come with me while I went to go play guitar in the woods (which apparently didn't seem like that weird of a request) and when we found a spot to sit I told her I had written her a song.

  :markdown
    I think I made it into the first chorus of the song before she realized what was happening.  The song's outro led into me popping the question. After wiping the tears from her eyes she said yes and then promptly punched me several times for tricking her.  For those interested in hearing the song, I recorded an encore performance that can been seen in the video below.

  :markdown
    Now the girl who wandered into my dorm room years ago is going to be my wife and I couldn't be happier!

%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/DBYgA1P95qE", width: "420"}


%h2
  %a(href="facts/rand") Click Here For a Random Dave & Eileen Fact!