<div class="photo_shell">
  <img src="<%= @photo[:photo_url] %>" class="bw_photo">
  <div class="bw_text">
  <%= @photo[:photo_text] %>
  </div>
  <div class="bw_name">
  - <%= @the_name %> <i class="fa <%= @the_icon %>"></i>
  </div>
</div>