%h2.page_title
  When?

:markdown
  __Saturday, August 2nd, 2014 at 5:00pm__

  The ceremony starts at 5:00 and will be immediately followed by food, drinks, and general good times. The reception will end at 11:00. We don't have to go home but Lacuna management has informed me that we can't stay there.

%h2.page_title
  Where?

:markdown
  __[Lacuna Art Lofts](http://lacuna2150.com/ "Lacuna Art Lofts") ( [2150 S. Canalport Ave, Chicago, IL](https://maps.google.com/maps?q=2150+South+Canalport+Avenue,+Chicago,+IL&hl=en&sll=41.853179,-87.650155&sspn=0.010533,0.022037&oq=2150+s+canalport+chicago,+il&hnear=2150+S+Canalport+Ave,+Chicago,+Illinois+60616&t=m&z=16) )__

  The ceremony will take place on the roof (weather permitting) and the reception will held on the first floor of the same building.

%h2.page_title
  Where can I stay?

:markdown
  __[Hyatt Regency McCormick Place](https://resweb.passkey.com/go/HaysSchwantesWedding) ( [2233 S Dr Martin Luther King Jr Dr, Chicago, IL ](https://maps.google.com/maps?q=%092233+S+Dr+Martin+Luther+King+Jr+Dr,+Chicago,+IL+60616&hl=en&geocode=+&hnear=2233+S+Dr+Martin+Luther+King+Jr+Dr,+Chicago,+Cook,+Illinois+60616&t=m&z=16))__

  We had the bright idea of getting married on the same weekend as Lollapalooza so hotel rooms are getting booked up fast. We have a block of rooms reserved at $175 per night. You can book one of these rooms two ways:
  
  1. Book online using [this link](https://resweb.passkey.com/go/HaysSchwantesWedding) 
  2. Call them at 1-888-421-1442 and mention the Hays/Schwantes wedding to get our block rate.

%h2.page_title
  What can I get you?

:markdown
  If you feel the uncontrollable urge to buy us stuff here are some places that we are registered:
  
  - [REI](http://www.rei.com/GiftRegistryDetails/GR62918602)
  - [Crate & Barrel](http://www.crateandbarrel.com/Gift-Registry/Eileen-Hays-and-Dave-Schwantes/r5168362)
  - [CB2](http://www.cb2.com/Gift-Registry/Eileen-Hays-and-Dave-Schwantes/r5100501)
  - [Amazon](http://www.amazon.com/gp/registry/wedding/3J6L9SFMLCX5D)
  - or just contribute to our honeymoon

  Perhaps we already have enough stuff. If you think so, too please just make a donation in our name instead of buying us something:

  - [The National Center For Science Education](https://ncse.secure.force.com/donate)