%img(src="../images/fact.png")
.fact
  :markdown
    The wedding will be on August 2nd, 2014 at [Lacuna Art Lofts](http://lacuna2150.com/ "Lacuna Art Lofts") in Chicago.  Be there.

%img(src="../images/fact.png")
.fact
  :markdown
    Dave and Eileen got engaged on July 27th, 2013 in Yosemite National Park.  It was awesome.  You would have cried if you were there.

%img(src="../images/fact.png")
.fact
  :markdown
    If you've forgotten how send mail you can RSVP right here on this website (sometime in the future)