%img(src="../images/fact.png")
.fact
  :markdown
    The wedding will be on August 2nd, 2014 at [Lacuna Art Lofts](http://lacuna2150.com/ "Lacuna Art Lofts") in Chicago.  Be there.

%img(src="../images/fact.png")
.fact
  :markdown
    Dave and Eileen got engaged on July 27th, 2013 in Yosemite National Park.  It was awesome.  You would have cried if you were there.

%img(src="../images/fact.png")
.fact
  :markdown
    If you need a place to crash after the wedding, we recommend the [Hyatt Regency McCormick Place](https://resweb.passkey.com/go/HaysSchwantesWedding). You can call them at 1-888-421-1442 or book online [here](https://resweb.passkey.com/go/HaysSchwantesWedding). We have rooms blocked off there, so tell them you know us and they will hook you up.