!!! 5
%html
  %head
    %title Dave+Eileen
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Armata|Paytone+One")
    %link(rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    %link(rel="stylesheet" type="text/css" href="../stylesheets/daveandeileen.css")
  %body
    #shell
      %header
        #title Dave + Eileen
      %nav
        = haml :_nav
        %br.clear
      #main_content
        = yield
      #sidebar
        = haml :_sidebar
      %footer