<html>
<head>
  <script src="../javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/birdwatcher.css"></link>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<script>
(function worker() {
  $('.photo').fadeOut();
  $.ajax({
    url: 'bw_photo', 
    success: function(data) {
      $('.photo').hide().html(data).fadeIn();
    },
    complete: function() {
      // Schedule the next request when the current one's complete
      setTimeout(worker, 10000);
    }
  });
})();
</script>
<img src="images/d_and_e_minilogo.png">
<div class="photo"></div>

</body>
</html>